footer
  p
    | Designed by 
    a(href='https://linkedin.com/in/PabloPenia' target='blank') Pablo Pe&ntilde;a
  p
    | All documentation data is taken from 
    a(href='https://developer.wordpress.org/' target='blank') Wordpress Developers
    | .