nav(aria-label='Navigation')
  header
    h1 CodeBase
  button(aria-expanded='false')
    span Menu
  ul
    li
      a(href='#getting_started') Getting Started
    li
      a(href='#block_editor') Block Editor
    li
      a(href='#plugins') Plugins
    li
      a(href='#themes') Themes
    li
      a(href='#common_apis') Common APIs
    li
      a(href='#rest_api') Rest API
    li
      a(href='#wp_cli') WP CLI
    li
      a(href='#code_reference') Code Reference
    li
      a(href='#coding_standards') Coding Standards