//- Generate Icon links, or name links. Icons should be added on svg sprite as xxx-icon to work. Check theme folder: base/icons.sass for styling. Autogenerate empty links. If target is not specified won't be added.
mixin link(name, href, target)
  - isIcon = name.toLowerCase().indexOf('-icon') !== -1
  - href = href || '#'
  a(
    href= href,
    class=(block ? 'iconText' : false),
    target= (target ? '_blank' : false)
  )
    if (isIcon)
      +icon(name)
    else
      | #{name}
    if block 
      block
//- Generate structure for svg icons using def symbols. All icons should be added to svg/sprite.svg
mixin icon(elId, elClass)
  - elClass = elClass || false
  span.icon(class = elClass)
    +svg(elId)
  if block 
    block
    
mixin svg(elId)
  - elId = '#' + elId
  svg
    use(xlink:href= elId)